.flex.flex-col.h-screen.bg-background.text-foreground data-controller="hello"
  .main.flex-1.overflow-hidden
    .mt-2
      = render(CheckInComponent.new(active_date: @active_date, checked: @checked))
    = render(UserThisWeekComponent.new(check_in_dates: current_user.last_x_check_in_dates(7)))
    - @recent_user_checkins.each do |checkin|
      .flex.text-center
        / = checkin.date
        = checkin.username
        = time_ago_in_words(checkin.timestamp) + ' ago'
    / = render(UserLastXComponent.new(check_in_dates: current_user.last_x_check_in_dates(30), days_back: 30))
    / = render(UserLastXComponent.new(check_in_dates: current_user.last_x_check_in_dates(90), days_back: 90))