.flex.flex-col.h-screen.bg-background.text-foreground data-controller="hello"
  .main.flex-1.overflow-hidden
    .mt-2
      = render(LastSevenDaysComponent.new(active_date: @active_date))
    .mt-2
      = render(CheckInComponent.new(active_date: @active_date, checked: @checked))
    / = render(UserLastXComponent.new(check_in_dates: current_user.last_x_check_in_dates(30), days_back: 30))
    / = render(UserLastXComponent.new(check_in_dates: current_user.last_x_check_in_dates(90), days_back: 90))

    .text-xl.font-bold.mx-8.mt-4.text-center
      | Today's Check-ins
    .mx-4.mt-4
      ul
        - @recent_user_checkins.each do |checkin|
          li.flex.justify-between.mb-1
            .text-sm
              = checkin.username
            .text-sm
              = time_ago_in_words(checkin.timestamp) + ' ago'