#checkbox-component.flex.flex-col.w-full
  .flex.justify-center.text-3xl.font-bold 
    = display_date
  .flex.justify-between.items-center
    = button_to date_view_changes_path, method: :post, params: { shown_date: previous_date } do
      = image_tag 'previous.png'
    = render(CheckboxComponent.new(checked: @checked, disabled: disabled?))
    = button_to date_view_changes_path, method: :post, params: { shown_date: next_date } do
      = image_tag 'next.png'
