.flex.items-center
  input[
    type="checkbox"
    class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary"
    checked=@checked
    name="check-in-checkbox"
    value=@checked
    id="checkbox-input"
  ]
  - if @label
    label.ml-2.text-sm.text-gray-700
      = @label