#checkbox-component.flex.flex-col.w-full
  .flex.justify-center.text-3xl.font-bold 
    = display_date
  .flex.justify-between.items-center
    span class="invisible"
      = button_to '#', method: :post, params: { active_date: previous_date } do
        = image_tag 'previous.png'
    = render(CheckboxComponent.new(checked: @checked, disabled: disabled?))
    span class="#{' invisible' if hide_next?}"
      = button_to '#', method: :post, params: { active_date: next_date } do
        = image_tag 'next.png'