nav.bg-gray-800.w-full.p-2
  .container.mx-auto.flex.justify-around.items-center
    = link_to '#', class: "text-white" do
      = inline_svg_tag "calendar_checkin.svg", class: "w-8 h-8"
    = link_to "#", class: "text-white" do
      = inline_svg_tag "group.svg", class: "w-8 h-8"
    = link_to "#", class: "text-white" do
     = inline_svg_tag "stats.svg", class: "w-8 h-8"
    = link_to "#", class: "text-white" do
     = inline_svg_tag "earth.svg", class: "w-8 h-8"
