canvas data-donut-data=donut_chart_data.to_json id="group_#{@group_id}_donut_chart"


javascript:

  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('group_#{@group_id}_donut_chart');
    //console.log('ctx', ctx);
    var donutChartData = JSON.parse(ctx.dataset.donutData);
    // console.log('foo', foo);
    // var donutChartData= JSON.parse(document.getElementById('donut-chart').dataset.donutData);
    var chartConfig = {
      type: 'doughnut',
      data: donutChartData,
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            callbacks: {
              // label should be assigned a function returns an empty string so it doesn't show '1'
              label: () => '',
            }
          },
          title: {
            display: false,
            text: '#{@title}'
          }
        }
      }
    }

    // console.log('donut data', chartConfig);

    new Chart(ctx, chartConfig);

  })

