#user-last-seven.flex.w-full.h-8.divide-x.divide-black
  - last_seven_days.each do |date|
    .flex-grow.h-full.bg-blue-500
      .flex.items-center.justify-center.h-full
        span.text-lg.font-bold = date.strftime('%A').first.upcase