.flex.text-sm class="w-1/3"
  | This Week
#user-this-week.flex.w-full.h-8.divide-x.divide-black
  - this_weeks_days.each do |date|
    .flex-grow.h-full class="#{@check_in_dates.include?(date) ? 'text-white bg-green-800' : 'bg-gray-800 text-white'}"
      .flex.items-center.justify-center.h-full
        span.text-lg.font-bold = date.strftime('%A').first.upcase