= form_tag groups_path do
  .flex.flex-col.gap-4.items-center
    div
      = text_field_tag :name, nil, placeholder: "Group name", class: "input input-bordered w-full max-w-xs", autofocus: true
    div
      = submit_tag "Create Group", class: "btn btn-primary btn-wide btn-lg mb-4"

