.mt-4.flex-col.flex.items-center class="*:text-center"
  = link_to 'Create a group', new_group_path, class: "btn btn-primary btn-wide mb-4 btn-lg"
  = link_to 'Join a group', new_group_membership_path, class: "btn btn-primary btn-wide btn-lg"
