
.grid.gap-4.grid-cols-1
  - @group_data.each do |group|
    .flex.justify-between.items-center.mx-8.my-4
      = render(PiechartComponent.new(group_id: group.group_id, title: group.title, user_checkin_data: group.user_checkin_data))
    .text-center
      = link_to 'View', group_path(group.group_id), class: "text-blue-500 hover:text-blue-700"
    

/ i want space between the two buttons that is the same as the space between the buttons and the edge of the page 
.mt-4.flex.justify-evenly class="*:text-center"
  = link_to 'Create a group', new_group_path, class: "w-2/5 16 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block"
  = link_to 'Join a group', new_group_membership_path, class: "w-2/5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block"
