#group-component.flex.flex-col.w-full
  .flex.justify-center.text-3xl.font-bold 
    = @group.name
  .flex.justify-between.items-center
    = link_to group_path(@previous_group_id), class: 'flex-shrink-0' do
      = image_tag 'previous.png', class: 'w-16 h-16'

    .flex-grow
      = render(PiechartComponent.new(group_id: @group.id, title: @group.name, user_checkin_data: @pie_chart_data))

    = link_to group_path(@next_group_id), class: 'flex-shrink-0' do
      = image_tag 'next.png', class: 'w-16 h-16'
