#group-component.flex.flex-col.w-full
  .flex.justify-between.items-center.mx-2.mt-4
    .w-6.h-6
      = link_to group_key_group_path(@group) do
        = image_tag 'infowhite100.png'
    .w-6.h-6
      = link_to create_or_join_path do
        = image_tag 'pluswhite100.png'
  .flex.justify-center.items-center.mx-2.mt-2
    .text-2xl.font-bold 
      = @group.name
  .flex.justify-between.items-center.h-64.max-w-full.px-2
    div.flex-shrink-0
      - if @previous_group_id
        = link_to group_path(@previous_group_id) do
          = image_tag 'previous.png', class: 'w-16 h-16'

    .flex-grow.flex.justify-center.items-center.h-64.w-full.overflow-hidden
      .w-full.h-full.flex.justify-center.items-center
        = render(PiechartComponent.new(group_id: @group.id, title: @group.name, user_checkin_data: @pie_chart_data))

    div.flex-shrink-0
      - if @next_group_id
        = link_to group_path(@next_group_id) do
          = image_tag 'next.png', class: 'w-16 h-16'
