= form_with(model: @user, local: true, class: "max-w-md mx-auto") do |form|
  - if @user.errors.any?
    #error_explanation.bg-red-100.border.border-red-400.text-red-700.px-4.py-3.rounded.relative.mb-4
      h2.font-bold.mb-2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      ul.list-disc.list-inside
        - @user.errors.full_messages.each do |message|
          li = message

  .mb-4
    = form.label :name, class: "block text-gray-700 text-sm font-bold mb-2"
    = form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"

  .flex.items-center.justify-between#change-name-button
    = form.submit "Change Name", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"

    / .mt-4
    /     .mb-4
    /     = form.label :key, class: "block text-gray-700 text-sm font-bold mb-2"
    /     .flex.items-center
    /         = form.text_field :key, readonly: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2"

/ h3.text-xl.font-bold.mb-6= @user.key
/ = button_to "Reset Key", reset_key_user_path, method: :post, form: { data: { turbo_confirm: "Are you sure you want to reset the key?" } }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
