= form_with(model: @user, local: true, class: "max-w-md mx-auto") do |form|
  .mb-4
    = form.label :name, class: "block text-gray-700 text-sm font-bold mb-2"
    = form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"

  .flex.items-center.justify-center#change-name-button
    = form.submit "Change Name", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"

  .flex.flex-col.items-center.mt-8.space-y-4
    .text-gray-700.text-sm.font-bold Your user key is:
    code.bg-gray-100.p-2.rounded.text-gray-700= @user.key
    .text-sm.text-gray-600.mx-8.text-center
      | You can use this key to log yourself into another device. If keeping your record is important to you, take a screenshot or write it down.
