#user-last-seven.flex.w-full.gap-1.h-4.bg-red-500
  .flex-grow.h-full.bg-blue-500
  .flex-grow.h-full.bg-blue-500
  .flex-grow.h-full.bg-blue-500
  .flex-grow.h-full.bg-blue-500
  .flex-grow.h-full.bg-blue-500
/   - check_ins.each do |checked_in|
/     .flex-grow.aspect-square.bg-red-500