h1 Challenge Daily Summary: #{@challenge.name}

p Hi #{@challenge.creator.username},

p Here's your daily summary for the challenge "#{@challenge.name}".

h2 Challenge Details
ul
  li Strong Name: #{@challenge.name}
  li Strong Start Date: #{@challenge.start_date.strftime('%B %d, %Y')}
  li Strong End Date: #{@challenge.end_date.strftime('%B %d, %Y')}
  li Strong Timezone: #{@challenge.timezone}

h2 Participants (#{@participants.count})
- if @participants.any?
  ul
    - @participants.each do |participant|
      li #{participant.username} (#{participant.email})
- else
  p No participants have joined yet.

p Thanks,
p The CSM Bible Challenge Team