doctype html
/ html data-theme="cyberpunk"
html data-theme="forest"
  = render partial: 'layouts/head'
  body data-controller="device-setup"
    container.h-dvh.flex.flex-col.max-w-md.mx-auto.relative.bg-base-100.text-base-content
      div.max-w-full.px-8.my-8 data-controller="flash" class="absolute top-0 left-0 right-0 z-50"
        - flash.each do |key, value|
          .z-50.p-4.text-center.w-full.mt-8 class="alert #{flash_class(key)}" role="alert"
            = value
      
      = render 'layouts/nav'
      = render(NavBarComponent.new)
      = yield

