doctype html
html
  = render partial: 'layouts/head'
  body.bg-back1
    container.h-dvh.flex.flex-col.max-w-md.mx-auto
      = render 'layouts/nav'
      = render(NavBarComponent.new)
      div data-controller="flash"
        - flash.each do |key, value|
          div class="alert #{flash_class(key)}" role="alert"
            = value
      = yield
